<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="gitlab" value="https://gitlab.com/api/v4/projects/77548339/packages/nuget/index.json" />
    <add key="bepinex" value="https://nuget.bepinex.dev/v3/index.json" />
    <!-- <add key="samboy" value="https://nuget.samboy.dev/v3/index.json" /> -->
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="bepinex">
      <package pattern="BepInEx.Analyzers" />
      <package pattern="BepInEx.Core" />
      <package pattern="BepInEx.PluginInfoProps" />
      <package pattern="BepInEx.Templates" />
      <package pattern="UnityEngine.Modules" />
    </packageSource>
    <!-- <packageSource key="samboy">
      <package pattern="*" />
    </packageSource> -->
    <packageSource key="gitlab">
      <package pattern="Snowyyd.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
